body {
    background-color: #f4f4f2;
    font-family: 'Schoolbell';
}

/* For items */
.item-container {
    position: relative;
    width: 100%; 
}

.img-fluid {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: blue;
    font-size: 18px;
}

.item-container:hover .img-fluid {
    opacity: 0.3;
}

.item-container:hover .middle {
    opacity: 1;
}

/* end of item style */


/* Grid styles */
@media only screen and (max-width: 425px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: 5px;
    }

    .logo {
        width: 18% !important;
    }

    .logo-img {
        width: 90% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-bottom: 1px;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-bottom: 1px;
    }

    .six {
        grid-column: 3 / 5;
        grid-row: 2;
    }

    .ten {
        grid-column: 4;
        grid-row: 3 / 5;
    }

    .eleven {
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .thirteen {
        grid-column: 1;
        grid-row: 5 / 7;
    }

    .eightteen {
        grid-column: 3 / 5;
        grid-row: 6;
    }

    .twentytwo {
        grid-column: 4;
        grid-row: 7 / 9;
    }

    .twentythree {
        grid-column: 1 / 3;
        grid-row: 8;
    }

    .price1 {
        position: absolute;
        top: 175%;
        left: 2%;
    }
    
    .price2 {
        position: absolute;
        top: 145%;
        left: -5%;
    }
    
    .price3 {
        position: absolute;
        top: 165%;
        left: -5%;
    }
    
    .price4 {
        position: absolute;
        top: 145%;
        left: 5%;
    }
    
    .price5 {
        position: absolute;
        top: 125%;
        left: 5%;
    }
    
    .price6 {
        position: absolute;
        top: 315%;
        left: 20%;
    }
    
    .price7 {
        position: absolute;
        top: 140%;
        left: 4%;
    }
    
    .price8 {
        position: absolute;
        top: 130%;
        left: -6%;
    }
    
    .price9 {
        position: absolute;
        top: 145%;
        left: -5%;
    }
    
    .price10 {
        position: absolute;
        top: 265%;
        left: -5%;
    }
    
    .price11 {
        position: absolute;
        top: 215%;
        left: 25%;
    }
    
    .price12 {
        position: absolute;
        top: 145%;
        left: 5%;
    }
    
    .price13 {
        position: absolute;
        top: 235%;
        left: 5%;
    }
    
    .price14 {
        position: absolute;
        top: 145%;
        left: 5%;
    }
    
    .price15 {
        position: absolute;
        top: 145%;
        left: 5%;
    }
    
    .price16 {
        position: absolute;
        top: 130%;
        left: 5%;
    }
    
    .price17 {
        position: absolute;
        top: 195%;
        left: 5%;
    }
    
    .price18 {
        position: absolute;
        top: 260%;
        left: 25%;
    }
    
    .price19 {
        position: absolute;
        top: 130%;
        left: -5%;
    }
    
    .price20 {
        position: absolute;
        top: 210%;
        left: 4%;
    }
    
    .price21 {
        position: absolute;
        top: 140%;
        left: 5%;
    }
    
    .price22 {
        position: absolute;
        top: 155%;
        left: 5%;
    }
    
    .price23 {
        position: absolute;
        top: 180%;
        left: 25%;
    }
    
    .price24 {
        position: absolute;
        top: 250%;
        left: 5%;
    }
    
}